* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

/*-----CONTAINER 1-----*/

.container1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.hero {
    margin: auto;
    width: 70vw;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 16px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-main-text {
    flex: 0.83;
}

.hero-main-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.header span {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-main-text p,
.header a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.header a {
    text-decoration: none;
}

.hero-main-text button {
    background-color: #3882F6;
    color: white;
    border: 2px solid #3882F6;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 35px;
    height: min-content;
    margin-top: 10px;
}


/*-----CONTAINER 2------*/

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.container2-images {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.container2 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container2-images .image {
    flex-basis: 150px;
    text-align: center;
}

.image p {
    margin: 0;

}

.image img {
    border: 3px solid black;
    border-radius: 10px;
}

/*-----CONTAINER 3------*/

.container3 {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin: auto;
}

.quote-section p {
    font-size: 36px;
    font-weight: 0;
    font-style: italic;
    color: #1F2937;
    width: 700px;
    margin-top: 0;
    margin-bottom: 16px;
}

.quote-section span {
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
}

/*-----CONTAINER 4------*/

.container4 {
    display: flex;
    justify-content: center;
}

.blue-section {
    background-color: #3882F6;
    display: flex;
    padding: 50px 150px;
    border-radius: 10px;
    margin: 100px 0;
    gap: 100px;
}

.blue-section button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 35px;
    height: min-content;
    align-self: center;
}

.call-to-action-text span {
    color: white;
    font-weight: bolder;
    font-size: 24px;
}

.call-to-action-text p {
    margin: 0;
    color: white;
    font-weight: 0;
}

/*-----FOOTER------*/

.footer {
    text-align: center;
    background-color: #1F2937;
}
