* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

/*-----CONTAINER 1-----*/

.container1 {
    display: flex;
    flex-direction: column;
    background-color: #FFE135;
}

.hero {
    margin: auto;
    width: 70vw;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 20px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-main-text {
    flex: 0.8;
}

.hero-main-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #18191A;
    margin: 0;
}

.header span {
    font-size: 24px;
    color: #18191A;
    font-weight: bolder;
}

.hero-main-text p,
.header a {
    font-size: 18px;
    color: #18191A;
    margin: 0;
}

.header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.header a {
    text-decoration: none;
}

.hero-main-text button {
    background-color: #36db36;
    color: #18191A;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 40px;
    height: min-content;
    margin-top: 10px;
}

.hero-content img {
    border-radius: 15px;
}


/*-----CONTAINER 2------*/

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #77DD77;
}

.container2-images {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.container2 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #18191A;
    margin: 50px 0;
}

.container2-images .image {
    flex-basis: 150px;
    text-align: center;
}

.image p {
    margin: 0;
    color: #18191A;
}

.image img {
    border: 3px solid #18191A;
    border-radius: 15px;
}

/*-----CONTAINER 3------*/

.container3 {
    background-color: #8FEF88;
    padding: 100px 0;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin: auto;
}

.quote-section p {
    font-size: 36px;
    font-weight: 0;
    font-style: italic;
    color: #18191A;
    width: 700px;
    margin-top: 0;
    margin-bottom: 10px;
}

.quote-section span {
    font-weight: bolder;
    color: #18191A;
    align-self: flex-end;
}

/*-----CONTAINER 4------*/

.container4 {
    display: flex;
    justify-content: center;
    background-color: #77DD77;
}

.blue-section {
    background-color: #36db36;
    display: flex;
    padding: 50px 100px;
    border-radius: 15px;
    margin: 100px 0;
    gap: 100px;
}

.blue-section button {
    background-color: #36db36;
    color: #18191A;
    border: 2px solid #18191A;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 40px;
    height: min-content;
    align-self: center;
}

.call-to-action-text span {
    color: #18191A;
    font-weight: bolder;
    font-size: 24px;
}

.call-to-action-text p {
    margin: 0;
    color: #18191A;
    font-weight: 0;
}

/*-----FOOTER------*/

.footer {
    text-align: center;
    background-color: #FFE135;
    padding: 20px 0;
}

.footer span {
    color: #18191A;
}
